.App {
  display: flex;
  justify-content: space-between;
}

.canvas {
  width: 500px;
  height: 400px;
  position: relative;
  border: 1px solid black;
  z-index: 2;
}

.i-canvas {
  width: 50%;
  height: 50%;
  position: absolute;  
  top: 50%;
  left: 50%;
}

#sprite1 {  
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%,-50%);
}

.code {
  padding: 0 20px;  
}

.mid {
  border: 1px solid black;
  margin: 0 10px;
  width: 100%
}